main {
    height: 100vh;
}

body {
    font-family: 'Segoe UI', sans-serif;
}

#list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    background: rgba(247, 247, 247, 0.30);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 0;

}

#list button {
    margin-left: 5px;
}

.main-box {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}

#list {
    border-color: transparent;
    border-radius: 0;

}

#library {
    height: 100vh;
    background-image: url(/img/background-yuki-library.png);
}

#andressa {
    height: 100vh;
    display: flex;
    justify-content: center;
    /* centro horizontal */
    align-items: center;
    /* centro vertical */
    flex-direction: column;
}

.card-blur {
    background: rgba(247, 247, 247, 0.55);
    /* caixa branca com transparência */
    backdrop-filter: blur(8px);
    /* desfoca o fundo */
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    border: 0;
    border-radius: 10px;
}

.card-header {
    border: 0;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;

}

.modal-content {
    border: 0;
    border-radius: 10px !important;
}

.modal-header {
    border: 0;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}

.team-member img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Animação no hover */
.team-member img:hover {
    transform: scale(1.08);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.team-grid a {
    text-decoration: none !important;
}